{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
<div class="container my-3">
    <h2 class="border-bottom py-2">{{ product.name }}</h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ product.price }}</div>
            <div class="d-flex justify-content-end">
                <div class="badge badge-light p-2">
                    {{ product.reg_date }}
                </div>
            </div>
        </div>
    </div>
</div>
